html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	background-color: #fff;
	font: 400 13px/1.6 'Open Sans', sans-serif;
	color: rgba(6, 32, 51, 0.7);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

p, ul, ol {
	margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.2;
	margin: 0 0 .5em;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 21px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

a {
	text-decoration: none;
	outline: none;
	transition: .5s;
}